<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6307295087851972~8570487445</string>
	<key>NSFileProtectionKey</key>
	<string>NSFileProtectionComplete</string>
</dict>
</plist>
